

h1{
    color:#ffffff;
    text-align: center;
}
h2 {
    text-align: center;
}
.menu {
    margin-bottom: 30px;
    margin-left:400px;
}
.menu a{
    margin-left:50px;
    
}
.header {
    background-color: #800080;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item {
    position:relative;
}
